{% extends 'layout.html.twig' %}

{% block content %}
<div class="media">
    <div class="media-left">
        <a href="#">
            <div class="media-object placeholder-img-med"></div>
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">About Me</h4>
        <p>
            Hello! You've made it to Fred Dysart's website. I am an application developer currently living in Atlanta, GA.
        </p>
        <p>
            My programming interests range from developing full featured web applications, primarily in PHP and utilizing all
            of the latest and greatest features that modern PHP provides, to writing performant service side applications in
            a multitude of languages (Go, Java, Perl mostly).
        </p>
        <p>
            The site you are currently reading was designed and built by me and the source is available
            <a href="https://github.com/ftdysa/website"><i class="fa fa-github"></i> here</a>.
        </p>
        <p>
            Outside of work, I try to stay as active as possible. Just this past year my wife (Marilyn) and I embarked
            on a journey throughout South East Asia for our delayed honeymoon. Our travels took us from Bangkok to Sapa
            and just about everywhere in between. We blogged about the majority of our trip at
            <a href="http://thedsoverseas.com" target="_blank" alt="Travel blog">thedsoverseas.com</a>.
        </p>
        <p>
            Other than traveling, I've recently started attempting amateur (emphasis on amateur) photography which is the
            main focus of this site, to share pictures with family and friends. I shoot with a Canon Rebel SL1 and am currently
            experimenting with a few lenses.
        </p>
        <p>
            Most of my photography focuses on the activities that my wife and I enjoy. These may include: snowboarding, traveling,
            hiking, exploring, and everything in between.
        </p>
        <p>
            Enjoy! <br>
            - Fred Dysart
        </p>
    </div>
</div>
{% endblock %}